@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://unpkg.com/transition-style';
@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style='in:circle:center'] {
  animation: 6.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}
